<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <form action="/" class="form-container">
    <label for="msg"><b>name</b></label>
    <input id="name" placeholder="Type message.." name="name" required></input>
    <br>
    <label for="msg"><b>Message</b></label>
    <input id="email"required></input>
    <button type="submit" class="btn">Send</button>
  </form>


</body>
</html>
